@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0052fe;
  --secondary: #1a1a1a;
  --accent: #00c853;
}

body {
  background-color: #ffffff;
  color: var(--secondary);
}
